<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Sistema Loja</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")

    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-T8Gy5hrqNKT+hzMclPo118YTQO6cYprQmhrYwIiQ/3axmI1hQomh7Ud2hPOy8SP1" crossorigin="anonymous">
    <link rel="stylesheet" href="~/Content/Site.css" />
</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("Sistema Loja", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li>@Html.ActionLink("Home", "Index", "Home")</li>
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">Loja<b class="caret"></b></a>
                        <ul class="dropdown-menu">
                            <li>@Html.ActionLink("Produtos", "Index", "Produto")</li>
                            <li>@Html.ActionLink("Categorias", "Index", "Categoria")</li>
                            <li>@Html.ActionLink("Funcionários", "Index", "Funcionario")</li>
                            <li>@Html.ActionLink("Fornecedores", "Index", "Fornecedor")</li>
                            <li>@Html.ActionLink("Tipo de Documento", "Index", "TipoDOcumento")</li>
                            <li>@Html.ActionLink("Pessoas", "Index", "Pessoa")</li>
                            <li>@Html.ActionLink("Usuários", "Index", "Users")</li>
                        </ul>
                    </li>   
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">Operações<b class="caret"></b></a>
                        <ul class="dropdown-menu">
                            <li>@Html.ActionLink("Nova Ordem", "NovaOrdem", "Ordens")</li>
                        </ul>
                    </li>   
                    <li>@Html.ActionLink("Sobre", "About", "Home")</li>
                    <li>@Html.ActionLink("Contatos", "Contact", "Home")</li>
                </ul>
                @Html.Partial("_LoginPartial")
            </div>
        </div>
    </div>
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <div class="footer-social">
                <div class="container text-center">
                    <ul class="list-inline">
                        <li class="list-inline-item social-github">
                            <a href="https://github.com/blackrockdigital">
                                <i class="fa fa-github"></i>
                            </a>
                        </li>
                        <li class="list-inline-item social-twitter">
                            <a href="https://twitter.com/sbootstrap">
                                <i class="fa fa-twitter"></i>
                            </a>
                        </li>
                        <li class="list-inline-item social-facebook">
                            <a href="https://www.facebook.com/StartBootstrap/">
                                <i class="fa fa-facebook"></i>
                            </a>
                        </li>
                        <li class="list-inline-item social-google-plus">
                            <a href="https://plus.google.com/+Startbootstrap">
                                <i class="fa fa-google-plus"></i>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>

            <p>&copy; @DateTime.Now.Year -  Sistema RasecDev</p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
